NEXT_PUBLIC_DATABASE_URL=postgresql://postgres.tqbzhqboepnerzmgzvxt:IzBwgSpcq7IhTKJw@aws-0-us-west-1.pooler.supabase.com:6543/postgres
NEXT_PUBLIC_DIRECT_URL=postgresql://postgres.tqbzhqboepnerzmgzvxt:IzBwgSpcq7IhTKJw@aws-0-us-west-1.pooler.supabase.com:6543/postgres
NEXT_PUBLIC_SUPABASE_URL=https://tqbzhqboepnerzmgzvxt.supabase.co
SUPABASE_ACCESS_TOKEN=sbp_13867648f1ab6f67657229c64f989dcf6ea0cdbc