/* Source Sans 3 - Variable Font */
@font-face {
  font-family: "Source Sans 3";
  src: url("/assets/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

/* Source Sans 3 - Italic Variable Font */
@font-face {
  font-family: "Source Sans 3";
  src: url("/assets/fonts/SourceSans3-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}

/* Palatino */
@font-face {
  font-family: Palatino;
  src: url("/assets/fonts/palatino.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
