@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 76, 139;
  --background-start-rgb: 186, 236, 186;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 35, 76, 139;
    --background-end-rgb: 35, 76, 139;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply tabular-nums box-border;

    box-sizing: border-box;
  }

  img {
    @apply select-none;
  }

  :host,
  html {
    @apply leading-7 text-base antialiased tabular-nums transition-all duration-300 list-none scroll-smooth;

    font-family: "Source Sans 3", Palatino;
    text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  :root {
    --background: 140 64% 91%;
    --foreground: 217 60% 34%;
    --card: 140 64% 91%;
    --card-foreground: 217 60% 34%;
    --popover: 140 64% 91%;
    --popover-foreground: 217 60% 34%;
    --primary: 217 60% 34%;
    --primary-foreground: 140 64% 91%;
    --secondary: 212 100% 64%;
    --secondary-foreground: 140 64% 91%;
    --muted: 181 50% 70%;
    --muted-foreground: 217 60% 34%;
    --accent: 181 50% 70%;
    --accent-foreground: 217 60% 34%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 140 64% 91%;
    --border: 217 60% 34%;
    --input: 217 60% 34%;
    --ring: 217 60% 34%;
    --chart-1: 217 60% 34%;
    --chart-2: 212 100% 64%;
    --chart-3: 214 100% 77%;
    --chart-4: 181 50% 70%;
    --chart-5: 120 28% 43%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 217 60% 34%;
    --foreground: 140 64% 91%;
    --card: 217 60% 34%;
    --card-foreground: 140 64% 91%;
    --popover: 217 60% 34%;
    --popover-foreground: 140 64% 91%;
    --primary: 140 64% 91%;
    --primary-foreground: 217 60% 34%;
    --secondary: 212 100% 64%;
    --secondary-foreground: 140 64% 91%;
    --muted: 181 50% 70%;
    --muted-foreground: 140 64% 91%;
    --accent: 181 50% 70%;
    --accent-foreground: 140 64% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 140 64% 91%;
    --border: 212 100% 64%;
    --input: 212 100% 64%;
    --ring: 140 64% 91%;
    --chart-1: 212 100% 64%;
    --chart-2: 214 100% 77%;
    --chart-3: 181 50% 70%;
    --chart-4: 120 28% 43%;
    --chart-5: 140 64% 91%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
